/*------------------------------------------------------------------------------
	WEB : page design
------------------------------------------------------------------------------*/





/*==============================
	Layout
==============================*/

/* Body & Wrapper */
.wrapper {
	min-height: 100vh;
	max-width: 1200px;
	margin: 0 auto 0 auto;
	padding: 1px;
}





/*==============================
	Style
==============================*/

/* Set font */
* {
	font-family: 'Ubuntu', 'Arial', 'Helvetica', 'Palatino', sans-serif;
}

/* Body & Wrapper */
body {
	background-color: #FBFBFB;
}
.wrapper {
	background-color: #F6F6F6;
}





/*==============================
	Classes
==============================*/





/*==============================
	Responsive design
==============================*/

/* Media query : mobile */
@media (max-width: 600px) {


}



/* Media query : tablet */
@media (min-width: 600px) and (max-width: 1200px) {


}



/* Media query : laptop */
@media (min-width: 1200px) {


}





/*==============================
	Debug
==============================*/
/* .wrapper {
	background-color: bisque;
}
header {
	background-color: crimson;
}
nav {
	background-color: gold;
}
section {
	background-color: lawngreen;
}
article {
	background-color: aqua;
}
aside {
	background-color: cornflowerblue;
}
footer {
	background-color: lightcoral;
}
span {
	background-color: #88888888;
}
ul {
	background-color: darkslateblue;
}
li {
	background-color: darkorchid;
}
h1 {
	background-color: orange;
}
h2, h3, h4 {
	background-color: chocolate;
}
p {
	background-color: lightblue;
}
a {
	background-color: royalblue;
}
img {
	background-color: deeppink;
	width: 150px;
} */